<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>IPC Section Prediction</title>
</head>

<body>
    <header>
        <h1>IPC Section Prediction</h1>
    </header>

    <main>
        <div class="content-wrapper">
            <div class="image-container">
                <!-- Add the path for an image here -->
                <img src="{{ url_for('static', filename='/Users/akashngowda/Downloads/pexels-sora-shimazaki-5668473.jpg') }}" alt="Prediction Illustration" class="hero-image">
            </div>
            <form action="/predict" method="post">
                <input type="text" id="offense" name="offense" placeholder="Enter Offense" required value="{{ offense }}">
                <button type="submit"><i class="fas fa-search"></i> Predict</button>
            </form>
            {% if prediction %}
            <div class="result">Predicted IPC Section: {{ prediction }}</div>
            {% endif %}
        </div>
    </main>

    <footer>
        <p>&copy; 2023 IPC Prediction System. All rights reserved.</p>
    </footer>
</body>

</html>
